@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

#main_page{
    background-color: #F1ECE7;
}

#content_container {
    max-width: 1125px;
    height: auto;
    margin: auto;
    padding: 8px;
    position: relative;
}

#header_container {
  margin: auto;
}

#header{
  max-width: 1125px;
  margin: auto;
  position: relative;
}

#header_divider{
  min-height: 8px;
  background-color: #F8F5F3;
}

#footer {
  max-width: 1125px;
  margin: auto;
}

.image_fill {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image_fill img {
    display: block;
    min-width: 100%;
    max-width: 100%;
}

a {
  color: #008EC3;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {

  #main_page {
      padding: 48px;
  }

  #header {
      padding: 48px;
      font-size: 0px;
  }

  .header_image {
      max-width: 256px;
      width: 35%;
  }

  h1 {
      font-family: 'Roboto Slab', sans-serif;
      font-size: 42px;
      line-height: 8px;
      color: #001426;
      font-weight: 300;
  }

  h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    color: #001426;
    font-weight: 500;
  }

  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    /*color: #475466;*/
    color: #796C5F;
    font-weight: 400;
  }

  h4 {
      font-family: 'Roboto Slab', sans-serif;
      font-size: 56px;
      color: #001426;
      font-weight: 300;
      margin-top: 24px;
      margin-bottom: 24px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #001426;
    font-weight: 400;
  }

}

@media only screen and (max-width: 600px) {

  #main_page{
      padding: 32px;
  }

  #header{
      padding: 32px;
  }

  .header_image{
      display: block;
      max-width: 156px;
      width: 100%,
  }

  h1 {
      font-family: 'Roboto Slab', sans-serif;
      font-size: 28px;
      line-height: 8px;
      color: #001426;
      font-weight: 300;
  }

  h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: #001426;
    font-weight: 500;
  }

  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #475466;
    font-weight: 400;
  }

  h4 {
      font-family: 'Roboto Slab', sans-serif;
      font-size: 32px;
      line-height: 8px;
      color: #001426;
      font-weight: 300;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #001426;
    font-weight: 400;
  }

}
