@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

#main_page{
    background-color: #F1ECE7;
}

#content_container {
    max-width: 1125px;
    height: auto;
    margin: auto;
    padding: 8px;
    position: relative;
}

#header_container {
  margin: auto;
}

#header{
  display: flex;
  align-items: flex-end;
  max-width: 1125px;
  margin: auto;
  padding: 8px;
  position: relative;
}

#header_divider{
  min-height: 8px;
  background-color: #F8F5F3;
}

#footer {
  max-width: 1125px;
  margin: auto;
}

.image_fill {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image_fill img {
    display: block;
    min-width: 100%;
    max-width: 100%;
}

.pop {
  /*color: #7D481E;*/
  box-shadow: inset 0 -.6em 0 0 #FFF77C;
}

a {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #FFF77C;
  color: #008EC3;
  transition: color .1s ease-in-out, box-shadow .1s ease-in-out;
}

a:hover {
  box-shadow: inset 0 -.6em 0 0 #FFF77C;
}

@media only screen and (min-width: 800px) {

  #main_page {
      padding: 48px;
  }

  #header {
      padding: 48px;
      font-size: 0px;
  }

  .header_image {
      max-width: 300px;
      width: 35%;
      margin-right: 24px;
  }

  .header_text {
    display: block;
    flex-direction: column;
  }

  sup{
    font-size: 20px;
  }

  h1 {
      font-family: 'Playfair Display', sans-serif;
      font-size: 48px;
      line-height: 14px;
      color: #390F00;
      font-weight: 400;
  }

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: #390F00;
    font-weight: 400;
  }

  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 130%;
    /*color: #475466;*/
    color: #7D481E;
    font-weight: 400;
  }

  h4 {
      font-family: 'Playfair Display', sans-serif;
      font-size: 72px;
      color: #390F00;
      font-weight: 400;
      font-style: italic;
      margin-top: 24px;
      margin-bottom: 24px;
  }

  h5 {
      font-family: 'Playfair Display', sans-serif;
      font-size: 32px;
      line-height: 14px;
      margin-top: 20px;
      margin-bottom: 24px;
      color: #7D481E;
      font-weight: 500;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 125%;
    color: #390F00;
    font-weight: 400;
  }

}

@media only screen and (max-width: 800px) {

  #main_page{
      padding: 32px;
  }

  #header{
      padding: 32px;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
  }

  .header_image{
      display: block;
      max-width: 200px;
      width: 100%,
  }

  .header_text {
    display: block;
    margin: 0px;
  }

  sup{
    font-size: 16px;
  }

  h1 {
      font-family: 'Playfair Display', sans-serif;
      font-size: 36px;
      line-height: 12px;
      color: #390F00;
      font-weight: 300;
  }

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: #390F00;
    font-weight: 500;
  }

  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #7D481E;
    font-weight: 400;
  }

  h4 {
      font-family: 'Playfair Display', sans-serif;
      font-size: 58px;
      line-height: 12px;
      margin-top: 42px;
      margin-bottom: 48px;
      font-style: italic;
      color: #390F00;
      font-weight: 300;
  }

  h5 {
      font-family: 'Playfair Display', sans-serif;
      font-size: 24px;
      line-height: 12px;
      margin-top: 12px;
      margin-bottom: 20px;
      color: #7D481E;
      font-weight: 500;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #390F00;
    font-weight: 400;
  }

}
